(() => {
	const actionProps = AlchemyOrb.actionProps({
		optimization: { selector: 'input#upload_image_optimization', attribute: 'value' }
	})

	const titles = JSON.parse('<%= raw titles.to_json %>')

	<% if @in_pages_edit %>
	AlchemyOrb.dialogLoaded('#image_assign_filter_and_image_sizing', () => {
	<% end %>
		const form = document.querySelector('#new_picture')
		form.insertAdjacentHTML('afterend', `<span><%= selection %></span>`)
		form.insertAdjacentHTML('afterbegin', "<%= j(hidden_field_tag 'upload_image_optimization', false) %>")
	<% if @in_pages_edit %>
	})
	<% end %>

	// Add if new
	AlchemyOrb.on('change', {
			selector: '#upload_image_optimization_select',
			offOnReload: true
		}, e => {
		const target = e.el

		actionProps.optimization = target.value
		target.title = titles[target.value]
	})
})();

