<div class="button_with_label">
	<%= link_to_dialog(
		button_tag(
			"#{Alchemy.t(:publish)} &nbsp; #{render_icon('cloud-upload-alt')}".html_safe,
			{ id: 'confirm_publish_button' }
		),
		Alchemy::Engine.routes.url_helpers.info_admin_page_path(@page, params: {confirm_publish: true}),
		{
			title: Alchemy.t(:confirm_publish),
			size: '520x320'
		},
	) %>
	<label><%= Alchemy.t(:confirm_publish) %></label>
</div>
